<div class="object-wrapper">
    <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
</div>

@code {

}
<style type="text/css">
    .object-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>