<h3>ProductList</h3>

@code {
    private static List<Product> ProductListDetails = new List<Product>
    {
        new Product
        {
            ProductID = 1,
            ProductDescription = "",
            ProductName = "",
            ProductUrl = "",
            ProductPrice = 9.99m
        },
        new Product
        {
            ProductID = 1,
            ProductDescription = "",
            ProductName = "",
            ProductUrl = "",
            ProductPrice = 9.99m
        },
        new Product
        {
            ProductID = 1,
            ProductDescription = "",
            ProductName = "",
            ProductUrl = "",
            ProductPrice = 9.99m
        }
    };
}
