@page "/product/{Id:int}"
@inject IProductService ProductService

<h3 class="m-4">ProductDetails</h3>

@if (@product == null)
{
    <span> Loading Product ...</span>
}
else
{
    <MudGrid>
        <MudItem xs="12" md="8" Class="d-flex justify-center align-center" Style="height:500px;">
            <MudImage ObjectFit="ObjectFit.Cover" Height="500" Width="500" Src="@product.ProductUrl" Alt="Mony the dog" Elevation="25" Class="rounded-lg" />
        </MudItem>
        <MudItem xs="12" md="4">
            <MudPaper Class="pa-4 mt-6 mt-lg-16" Elevation="0">
                <MudText Typo="Typo.h6">Product Details</MudText>
                <MudText>@product.ProductName</MudText>
                <MudText>@product.ProductDescription</MudText>
                <MudText>@product.ProductPrice</MudText>
            </MudPaper>
        </MudItem>
    </MudGrid>

}

@code {
    private Product product = null;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        product = ProductService.products.Find(p => p.ProductID == Id);
    }
}
